<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Circulation.Properties.Settings.BRIT_SOVETConnectionString"
            connectionString="Data Source=192.168.3.63;Initial Catalog=BRIT_SOVET;Persist Security Info=True;User ID=sasha;Password=Corpse536"
            providerName="System.Data.SqlClient" />
        <add name="Circulation.Properties.Settings.BRIT_SOVET" connectionString="Data Source=192.168.4.7;Initial Catalog=BRIT_SOVET;Persist Security Info=True;User ID=tmpbrit;Password=brittmp"
            providerName="System.Data.SqlClient" />
        <add name="Circulation.Properties.Settings.BRIT_SOVET_Crystal"
            connectionString="Data Source=192.168.3.241;Initial Catalog=BRIT_SOVET;Persist Security Info=True;User ID=BJBritS_RW;Password=BJ_onlyReadWriteBS"
            providerName="System.Data.SqlClient" />
        <add name="Circulation.Properties.Settings.Reservation_RConnectionString"
            connectionString="Data Source=192.168.4.25,1443;Initial Catalog=Reservation_R;Persist Security Info=True;User ID=ReaderOrd;Password=Reader_Order"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>